<ul class="list-unstyled">
    {% for item in results %}
    <li style="margin-bottom: 15px;">
        {{ item['name'] }}
        <a href="{{ path('category_remove', {'id': item['id']}) }}" class="btn btn-danger btn-sm category-remove">remove</a>
    </li>
    {% endfor %}
</ul>
