{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="todolist not-done">
                    <h1>Category list</h1>
                    {{ render(controller('AppBundle:Category:form')) }}
                    <hr>
                    {{ render(controller('AppBundle:Category:list')) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="todolist not-done">
                    <h1>Todo list</h1>
                    {{ form_start(taskForm) }}
                    {{ form_widget(taskForm) }}
                    <button class="btn btn-success">Add task</button>
                    {{ form_end(taskForm) }}
                    <hr>
                    {{ render(controller('AppBundle:Task:list')) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="todolist">
                    <h1>Tasks marked as done</h1>
                    {{ render(controller('AppBundle:Task:list', {'status': 1})) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('click', event => {
            if (event.target.matches('.category-remove')) {
                event.preventDefault();
                let popup = confirm('By deleting the category you will lost all accessed todos to it. Are you sure?');
                if (popup) {
                    const router = new Router();

                    router.makeRequest({
                        'method': 'DELETE',
                        'url': event.target.getAttribute('href'),
                        'headers': {
                            'X-Requested-With': 'XMLHttpRequest',
                        },
                    }).then(response => {
                        location.reload();
                    }).catch(error => {
                        console.error(error);
                    });
                }
            } else if(event.target.matches('.task-remove')) {
                event.preventDefault();
                const router = new Router();

                router.makeRequest({
                    'method': 'DELETE',
                    'url': event.target.getAttribute('href'),
                    'headers': {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                }).then(response => {
                    event.target.parentNode.remove();
                }).catch(error => {
                    console.error(error);
                });
            } else if(event.target.matches('.task-mark-as-done')) {
                event.preventDefault();
                const router = new Router();

                router.makeRequest({
                    'method': 'PUT',
                    'url': event.target.getAttribute('href'),
                    'headers': {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                }).then(response => {
                    event.target.parentNode.remove();
                }).catch(error => {
                    console.error(error);
                });
            } else if(event.target.matches('.task-edit')) {
                event.preventDefault();
                const router = new Router();

                router.makeRequest({
                    'method': 'GET',
                    'url': event.target.getAttribute('href'),
                    'headers': {
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                }).then(response => {
                    let element = document.createElement('div');
                    element.innerHTML = response;
                    event.target.parentNode.appendChild(element);
                }).catch(error => {
                    console.error(error);
                });
            }
        });
    </script>
{% endblock %}