<ul class="list-unstyled">
    {% for item in results %}
        <li data-id="{{ item['task_id'] }}" style="margin-bottom: 15px;">
            ({{ item['category_name'] }}) {{ item['task_name'] }}
        </li>
    {% endfor %}
</ul>
