<ul class="list-unstyled">
    {% for item in results %}
    <li data-id="{{ item['task_id'] }}" style="margin-bottom: 15px;">
        ({{ item['category_name'] }}) {{ item['task_name'] }}
        <a href="{{ path('task_edit', {'id': item['task_id']}) }}" class="btn btn-primary btn-sm task-edit">edit</a>
        <a href="{{ path('task_remove', {'id': item['task_id']}) }}" class="btn btn-danger btn-sm task-remove">remove</a>
        <a href="{{ path('task_mark_as_done', {'id': item['task_id']}) }}" class="btn btn-info btn-sm task-mark-as-done">mark as done</a>
    </li>
    {% endfor %}
</ul>
